.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-in;
	-moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-in;
	-o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-in;
	transition: transform 0.2s ease-out, opacity 0.2s ease-in;
	}
.marker-cluster-small {
	background-color: rgba(87, 35, 93, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(87, 35, 93, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(87, 35, 93, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(87, 35, 93, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(87, 35, 93, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(87, 35, 93, 0.6);
	}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	color:#fff;
	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}